@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Patrick Hand", cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;

    background: #ffccd5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin-top: 50px;
    padding: 20px;

    background: #fff0f3;
    border: 5px solid #fb6f92;
    border-radius: 10px;
}

.imagem-usuario {
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #fb6f92;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    color: #fb6f92;
    margin-bottom: 15px;
}
.input-nome {
    font-size: 15px;
    color: #fb6f92;
    padding: 5px;
    outline: none;
}
.input-nome:focus {
    font-size: 15px;
    color: #fb6f92;
    padding: 5px;
    outline: none;
}

.nome {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tarefa {
    display: flex;
    gap: 10px;
    width: 100%;
}
.btn-add-name{
    margin-left: 10px;
}
.input-tarefa, .nome {
    flex: 1;
    padding: 8px;

    border-radius: 5px;
    border: 2px solid #fb6f92;
    outline: none;
}
.input-tarefa:focus {
    border-color: #ff8fab;
}
.lista-tarefas {
    width: 100%;
    margin-top: 20px;
    list-style: none;
}
.lista-tarefas li {
    background: #ffe5ec;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}
.btn-add-task, .btn-add-name, .clear {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;

    background-color: #fb6f92;
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
}
.btn-add-task:hover, .btn-add-name:hover, .clear:hover {
    background-color: #ff8fab;
}
.btn-add-task:active, .btn-add-name:active, .clear:active {
    transform: scale(0.95);
}

.hidden {
    display: none;
}

.clear {
    margin-top: 10px;
}